.plain-text { display: none; }
.rich-text { display: block; }
body.simple-view .plain-text { display: block; }
body.simple-view .rich-text { display: none; }
body.simple-view .location-marker.rich-text,
body.simple-view .milestone.rich-text { display: block; }

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 40px;
}

.pb-label, .lb-label {
    display: none;
    text-decoration: none;
}
.show-breaks .pb-label,
.show-breaks .lb-label {
    display: inline;
    color: darkgreen;
    cursor: default;
}

/* Override for page-start labels to be blue and clickable */
.show-breaks .pb-label,
.show-breaks .lb-label[data-line="1"] {
    cursor: pointer;
    color: blue;
}
.lg > span { display: block; }
.lg { padding-left: 2em; }

.hyphen, .lb-br, .pb-br { display: none; }
.show-line-breaks .hyphen { display: inline; }
.show-line-breaks .lb-br, .show-line-breaks .pb-br { display: block; }

#content.hide-location-markers .location-marker,
#content.hide-location-markers .milestone,
#content.hide-location-markers .milestone-verse {
    display: none;
}

/* Drama elements */
.speaker { font-weight: bold; display: block; margin-top: 0.8em; }
.speaker::after { content: " \2014"; } /* em-dash */
.speech > :not(.speaker) { margin-left: 1.5em; }
.stage-direction { font-style: italic; }
.stage-direction::before { content: "("; }
.stage-direction::after { content: ")"; }
.chaya::before { content: " ("; }
.chaya::after { content: ")"; }
.hide-chaya .chaya { display: none; }