<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - About</title>
</head>
<body>
<div id="content">
    {% from 'components/sidenav.html' import sidenav %}
    {% set nav_links = [
        {'url': '/', 'text': 'Back Home'}
    ] %}
    {{ sidenav(nav_links) }}

    <div class="main">

        <div id="about">

            <h1>About</h1>
            <p>
                HANSEL is a companion to GRETIL,
                facilitating open exchange of academic-level Sanskrit e-texts,
                with a focus on diplomatic transcriptions of printed editions produced using OCR.
            </p>

            <h2>FAQ</h2>

            <p>
                <strong>How do I contribute?</strong>
                Just send an email to&nbsp;<span style="background: #f0f0f0;"><code>hanselrepository</code></span> at Gmail, wherever you're at in your process.
                The <a href="/team">“team”</a> will help you from there.
            </p>
            <p>
                <strong>Will HANSEL incorporate all of GRETIL?</strong>
                No, at least not all at once. HANSEL's focus is on new or newly modified material.
                GRETIL will have no problem remaining available online
                in the form of its <a href="https://textgridrep.org/project/TGPR-2ba9cb1b-9602-202d-71ce-67e63a29de55" target="_blank">official archive</a> and,
                when the <a href="https://gretil.sub.uni-goettingen.de/gretil.html" target="_blank">main site</a> eventually goes down, mirrors.
            </p>
            <p>
                <strong>How does HANSEL compare to GRETIL or SARIT?</strong>
                Like SARIT, HANSEL has an explicit <a href="https://github.com/tylergneill/hansel-data/blob/main/texts/DATA_MODEL.md" target="_blank">data model</a>,
                everything is versioned, and consistent metadata is required.
                Like GRETIL, HANSEL is all-purpose and easy to contribute to.
                Unlike either, the base format is plain-text, from which are produced XML and HTML.
            </p>
            <p>
                <strong>How do we know HANSEL will survive?</strong>
                This project is independent, open-source, well documented, and built on standard and inexpensive technologies.
            </p>

            <h2>Name and logo</h2>
            <p>
                "Human-accessible" means that material will always exist in forms
                that the greatest number of students and scholars can use directly,
                such as plain-text and HTML.
            </p>
            <p>
                "NLP-ready" means that the data will also be structured in anticipation of computational applications.
            </p>
            <p>
                The <em>haṃsa</em> (<a href="https://en.wikipedia.org/wiki/Hamsa_(bird)">swan, or bar-headed goose</a>)
                symbolizes not only grace but also discernment (<em>viveka</em>).
                A world away, in the Grimms' tale, Hänsel and Gretel succeed against the odds by working together.
            </p>

            <h2>Under the Hood</h2>
            <p>
                HANSEL consists of two coordinated Git repositories on GitHub:
                <a href="https://github.com/tylergneill/hansel-data">hansel-data</a> for e-texts and metadata,
                and <a href="https://github.com/tylergneill/hansel-app">hansel-app</a> for the web app.
                Using Git takes care of fine-grained versioning.
                Public GitHub repos enable open-source access to everything,
                including PR-based change history.
            </p>
            <p>
                The web app is written in Python and Javascript
                and runs on a Digital Ocean server
                which holds an up-to-date clone of the data repo.
                The data repo also contains some Python and Bash automation code.
            </p>

        </div>

    </div>
</div>
</body>
</html>
