<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANSEL - E-Texts</title>
    <link href="{{ url_for('static', filename='web/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="content">
    <div class="sidenav">
        <img src="{{ url_for('static', filename='web/swan_only.png') }}" class="sidebar-logo" alt="Swan Logo">
        <h1 class="sidebar-title">HANSEL</h1>
        <p class="sidebar-subtitle">Human-Accessible and<br>NLP-ready Sanskrit<br>E-Text Library</p>
        <a href="/">Back Home</a>
    </div>

    <div class="main">

        <div id="about">
            <h1>Why HANSEL</h1>
            <p>
                HANSEL is a friend of GRETIL.
                Since GRETIL no longer has support to grow,
                we need a new place to accommodate new Sanskrit e-text material.
                HANSEL aims to be open and easy for students and scholars to contribute to.
                Contributed material may be upgraded forms of e-texts from previous repositories like GRETIL or SARIT,
                or it may be entirely new.
                Let's work together to expand the amount of high-quality Sanskrit material online!
            </p>
            <p>
                "Human-accessible" means that material will always exist in forms that people can use directly,
                such as plain-text and HTML.
            </p>
            <p>
                "NLP-ready" means that the data will also be structured in anticipation of computational applications,
                for those with natural-language processing ideas they'd like to try out on as much data as possible.
            </p>
            <p>
                In addition to these two core values,
                HANSEL will also maintain a high standard of transparency,
                with clearly documented scholarly sources,
                open-source and versioned data and code,
                and easily searchable metadata.
            </p>
            <p style="text-align: right">Tyler Neill<br>Brooklyn, NY<br>May 2025</p>
        </div>

    </div>
</div>
</body>
</html>
