<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - Getting Started</title>
</head>
<body>
<div id="content">
    {% from 'components/sidenav.html' import sidenav %}
    {% set nav_links = [
        {'url': '/about', 'text': 'Back to About'},
    ] %}
    {{ sidenav(nav_links) }}

    <div class="main">

        <div id="getting-started">
            <h1 id="download">Download</h1>
            <h1 id="contribute">Contribute</h1>
            <h1 id="read">Read</h1>
            <p>Coming soon...</p>
        </div>

    </div>
</div>
</body>
</html>
