<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - Getting Started</title>
</head>
<body>
<div id="content">
    {% from 'components/sidenav.html' import sidenav %}
    {% set nav_links = [
        {'url': '/about', 'text': 'Back to About'},
    ] %}
    {{ sidenav(nav_links) }}

    <div class="main">

        <div id="getting-started">
            <h1 id="download">Download</h1>
            <video width="960" height="625" controls poster="/static/web/video/download-poster.png">
                <source src="/static/web/video/download.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="file-item">
                <div class="link-and-caret">
                    <a href="#" class="main-link faq-question">Show transcript</a>
                    <details class="caret-details">
                        <summary class="toggle-caret"></summary>
                    </details>
                </div>
                <ul class="extra-links">
                    <li>
                        Placeholder transcript for the Download video.
                    </li>
                </ul>
            </div>

            <h1 id="contribute">Contribute</h1>
            <video width="960" height="625" controls poster="/static/web/video/contribute-poster.png">
                <source src="/static/web/video/contribute.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="file-item">
                <div class="link-and-caret">
                    <a href="#" class="main-link faq-question">Show transcript</a>
                    <details class="caret-details">
                        <summary class="toggle-caret"></summary>
                    </details>
                </div>
                <ul class="extra-links">
                    <li>
                        Placeholder transcript for the Contribute video.
                    </li>
                </ul>
            </div>

            <h1 id="read">Read</h1>
            <video width="960" height="625" controls poster="/static/web/video/read-poster.png">
                <source src="/static/web/video/read.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="file-item">
                <div class="link-and-caret">
                    <a href="#" class="main-link faq-question">Show transcript</a>
                    <details class="caret-details">
                        <summary class="toggle-caret"></summary>
                    </details>
                </div>
                <ul class="extra-links">
                    <li>
                        Placeholder transcript for the Read video.
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>
