<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - Getting Started</title>
</head>
<body>
<div id="content">
    {% from 'components/sidenav.html' import sidenav %}
    {% set nav_links = [
        {'url': '/about', 'text': 'Back to About'},
    ] %}
    {{ sidenav(nav_links) }}

    <div class="main">

        <div id="getting-started">
            <h1 id="download">Download</h1>
            <video width="960" height="625" controls poster="/static/web/video/download-poster.png">
                <source src="/static/web/video/download.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="file-item">
                <div class="link-and-caret">
                    <a href="#" class="main-link faq-question">Show transcript</a>
                    <details class="caret-details">
                        <summary class="toggle-caret"></summary>
                    </details>
                </div>
                <ul class="extra-links">
                    <li>
                        HANSEL makes it easy to download data right from its home page.
                        Under Cumulative Downloads, click “Build custom download”.
                        Select your preferred formats, both for text —
                        plain-text, XML, HTML, or original submissions —
                        as well as for metadata, and click “Download”.
                        Alternatively, just click this “All ... in all formats” link to grab everything at once.
                        For individual items, go to the E-Texts section above.
                        In List View, expand the arrow to find the individual links you need.
                        Or, in Table View, find metadata under the info icon and other downloads under the download icon.
                        For these individual downloads, Right-click and Save Link As.
                    </li>
                </ul>
            </div>

            <h1 id="contribute">Contribute</h1>
            <video width="960" height="625" controls poster="/static/web/video/contribute-poster.png">
                <source src="/static/web/video/contribute.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="file-item">
                <div class="link-and-caret">
                    <a href="#" class="main-link faq-question">Show transcript</a>
                    <details class="caret-details">
                        <summary class="toggle-caret"></summary>
                    </details>
                </div>
                <ul class="extra-links">
                    <li>
                        Contributing to HANSEL is simple.
                        Whether you’re interested in correcting errors you find,
                        or importing data from other projects like GRETIL,
                        or digitizing from scratch, we're here to help you.
                        Just go to the Contact Page, fill out the form —
                        including a summary of your project idea in the message
                        and any file attachments — and send.
                        The project curator will reach out to provide any necessary help.
                        You can continue to collaborate if you like, but it's optional,
                        so don't hesitate, even if you're short on time.
                        You’d be surprised how much we can automate to improve your material and get it online fast.
                    </li>
                </ul>
            </div>

            <h1 id="read">Read</h1>
            <video width="960" height="625" controls poster="/static/web/video/read-poster.png">
                <source src="/static/web/video/read.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="file-item">
                <div class="link-and-caret">
                    <a href="#" class="main-link faq-question">Show transcript</a>
                    <details class="caret-details">
                        <summary class="toggle-caret"></summary>
                    </details>
                </div>
                <ul class="extra-links">
                    <li>
                        HANSEL also provides a reading interface,
                        which displays the entire text in a single view.
                        Find it via the main links in the E-Texts section.
                        You’ll find complete metadata up top and a table of contents on the left.
                        The top-right menu toggles optional features:
                        location identifiers, line breaks, and line and page markers.
                        The blue page markers link directly to the relevant page in the PDF.
                        You can also toggle corrections made to the edition during digitization.
                        A “Search-friendly” mode ensures more accurate Ctrl-F results
                        by temporarily disabling the other features that would interfere.
                        And you can transliterate the text.
                        A final note: Some texts that are “verse-only” lack the location and line options,
                        but they include a verse-styling toggle which makes individual stanzas more visually distinct.
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>
