<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - How It works</title>
</head>
<body>
<div id="content">
    {% include 'components/sidenav_small.html' %}

    <div class="main">

        <div id="about">
            <h1>How It Works</h1>

            <p>HANSEL consists of a two interconnected systems: contribution and presentation.</p>

            <h2>Contribution</h2>
            <p>
                HANSEL's contribution system has three stages, with correspondingly different file formats:
            </p>
            <ol>
                <li><strong>Pre-Draft</strong> — any file format (<code>.doc</code>, <code>.pdf</code>, etc.), for email correspondence and preliminary local processing</li>
                <li><strong>Draft</strong> — plain-text (<code>.txt</code>, with <a href="txt_markup">custom markup</a>), for provisional display while progressing toward publication</li>
                <li><strong>Publication</strong> — XML (<code>.xml</code>, with <a href="xml_markup">minimal TEI markup</a>), for web display and scholarly citation</li>
            </ol>
            <p>
                Pre-Draft material is moved manually toward Draft format.
                Once the material passes a set of automated checks —
                run locally by <a href="team">technical team</a> members and also automatically on GitHub —
                it is suited for Draft presentation.
                Such mature Draft material (<code>.txt</code>)
                can then be automatically transformed into Publication material (<code>.xml</code>), and vice versa.
                This allows for continued improvement of material without the need to work in XML.
            </p>

            <h2>Presentation</h2>

            <p>
                The website you are reading dynamically serves both Draft and Publication material alike,
                with Drafts marked as such.
                Publication material is rendered by default on the website with <code>.html</code> transforms,
                but users can also opt for a <code>.txt</code> transform or the underlying <code>.xml</code>.
                Cumulative downloads, both of the entire collection, or of filtered search sets, are also always at the ready.
                The server also takes care of metadata search and basic transliteration.
            </p>

            <h2>Diagram</h2>

            <p>
                The below design diagram shows HANSEL's multiple community entry points, data formats, and use of automation.
            </p>
            <img src="/static/web/imgs/overall_design_diagram.png"/>

        </div>

    </div>
</div>
</body>
</html>
