<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'subtemplates/head_shared.html' %}
    <title>HANSEL - E-Texts</title>
</head>
<body>
<div id="content">
    {% include 'subtemplates/sidenav_full.html' %}

    <div class="main">
        <div id="introduction">
            <h1>Introduction</h1>
            <p>HANSEL is an open collection of Sanskrit e-texts of all sorts.</p>
            <p>Below is a simple alphabetical listing by work title. Click on the caret beside each item for more info.
                There's also a <a href="index_tabular">tabular view</a> for sorting by author, genre, etc.</p>
            <p>Want to contribute? <a href="#contributing">See below!</a></p>
        </div>

        <div id="e-texts">
            <h1>E-Texts</h1>
            <ul>
                {% for file in file_data %}
                <li class="file-item">
                    <div class="link-and-caret">
                        <a href="{{ static_files_path }}/{{ file.filename }}" class="main-link" target="_blank">
                            {{ file.title }} - {{ file.author }}
                        </a>
                        <details class="caret-details">
                            <summary class="toggle-caret"></summary>
                        </details>
                    </div>
                    <ul class="extra-links">
                        <li>
                            <a href="{{ static_files_path }}/{{ file.filename }}" target="_blank">Metadata...</a>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% include 'subtemplates/index_footer.html' %}

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".toggle-caret").forEach(caret => {
            caret.addEventListener("click", function(event) {
                event.preventDefault(); // Prevent default summary behavior
                let li = this.closest(".file-item"); // Find the parent <li>
                li.classList.toggle("open"); // Toggle the 'open' class
            });
        });
    });
</script>
</body>
</html>
