<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - E-Texts</title>
</head>
<body>
<div id="content">
    {% include 'components/sidenav_full.html' %}

    <div class="main">
        <div id="introduction">
            <h1>HANSEL</h1>
            <p>
                An open collection of high-quality Sanskrit e-texts.
                Current collection size is {{ num_items }} items ({{ total_size_mb }} MB in total).
                See also <a href="table">table view</a>.
            </p>
        </div>

        <div id="e-texts">
            <h1>E-Texts</h1>
            <p>Click arrows beside items for more info.</p>
            <ul>
                {% for item in metadata %}
                <li class="file-item">
                    <div class="link-and-caret">
                        {% set html_filename = item['Filename Base'] ~ '.html' %}
                        <a href="{{ static_files_path }}/data/texts/transforms/html/rich/{{ html_filename }}" class="main-link" target="_blank">
                            {{ item['Title'] ~ (' - ' ~ item['Author'] if item['Author'] else '') }}
                        </a>
                        <details class="caret-details">
                            <summary class="toggle-caret"></summary>
                        </details>
                    </div>
                    <ul class="extra-links">
                        <li>
                            <a href="{{ static_files_path }}/data/metadata/transforms/html/{{ item['Filename Base'] }}.html" target="_blank">
                                <img src="{{ static_files_path }}/web/imgs/info.png" alt="metadata" style="height: 20px; margin-right: 2px;">
                                Metadata
                            </a>
                        </li>
                        <li>
                            {% set original_filename_ext = (item['Original Filename Extension']) %}
                            {% set downloaded_extensions = ['.doc', '.docx', '.rtf'] %}
                            {% set original_filename = item['Filename Base'] ~ original_filename_ext %}
                            <a href="{{ static_files_path }}/data/texts/originals/{{ original_filename }}" class="main-link" target="_blank">
                                Original ({{ original_filename_ext }})
                                {% if original_filename_ext in downloaded_extensions %}
                                &nbsp;<img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 20px;">
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            {% set txt_filename = item['Filename Base'] ~ '.txt' %}
                            <a href="{{ static_files_path }}/data/texts/processed_txt/{{ txt_filename }}" class="main-link" target="_blank">
                                Plaintext
                            </a>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% include 'components/index_footer.html' %}

    </div>
</div>
</body>
</html>
