<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HANSEL - Metadata: {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='web/imgs/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='web/css/viewer_style.css') }}">
</head>
<body>
    <div id="border-top"></div>
    <div id="border-left"></div>
    <a href="/" id="home-button">
        <img src="{{ url_for('static', filename='web/imgs/logo.png') }}" alt="Home">
    </a>

    {{ content_html | safe }}

</body>
</html>