{% from 'macros.html' import ext_link_icon_tmpl, dl_icon_tmpl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HANSEL - Metadata: {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='web/imgs/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='web/css/viewer_style.css') }}">
</head>
<body>
    <div id="border-top"></div>
    <div id="border-left"></div>
    <a href="/" id="home-button">
        <img src="{{ url_for('static', filename='web/imgs/logo.png') }}" alt="Home">
    </a>

    {{ ext_link_icon_tmpl() }}
    {{ dl_icon_tmpl() }}
    {{ content_html | safe }}

    <script>
    var extTmpl = document.getElementById('ext-link-icon-tmpl');
    document.querySelectorAll('a[href^="http"]').forEach(function(a) {
        a.target = '_blank';
        a.appendChild(extTmpl.content.cloneNode(true));
    });
    var dlTmpl = document.getElementById('dl-icon-tmpl');
    document.querySelectorAll('a[href$=".doc"], a[href$=".docx"], a[href$=".pdf"]').forEach(function(a) {
        a.appendChild(dlTmpl.content.cloneNode(true));
    });
    </script>
</body>
</html>