<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - Progress</title>
</head>
<body>
<div id="content">
    {% from 'components/sidenav.html' import sidenav %}
    {% set nav_links = [
        {'url': '/', 'text': 'Back Home'}
    ] %}
    {{ sidenav(nav_links) }}

    <div class="main">

        <div id="about">

            <h1>Progress</h1>

<!--            <ul class="toc">-->
<!--                <li><a href="#changes-in-progress">Changes In-Progress</a></li>-->
<!--                <li><a href="#latest-completed-changes">Latest Completed Changes</a></li>-->
<!--                <li><a href="#more-completed-changes">More Completed Changes</a></li>-->
<!--            </ul>-->

            <h2 id="changes-in-progress">Changes In-Progress</h2>
            <ul class="spaced-list">
                <li>22 Dec 2025: Vākyapadīya-Prameyasaṃgraha (Rau 1981) submitted by C. Li</li>
                <li>23 Dec 2025: Kṛṣṇamitra's Prabodha-Candrodaya (2009) submitted by editor M. Kapstein</li>
                <li>5–9 Jan 2026: Bhagavadajjuka (2009) submitted by editors R. Steiner and M. Straube, word-spacing by C. Ferstl</li>
                <li>internal: Nyāyabhūṣaṇa (Yogindrananda 1968) sourced from Pramāṇa NLP (digitized by S. Yamakami)</li>
            </ul>

            <h2 id="latest-completed-changes">Latest Completed Changes</h2>
            <ul class="spaced-list">
                <li>19 Dec 2025: HANSEL <a href="https://list.indology.info/pipermail/indology/2025-December/061513.html">launched</a> with 4 items:</li>
                <li style="margin-left: 20px;">Bāṇa's Kādambarī (Peterson 1885) sourced from SARIT (digitized by A. Ollett)</li>
                <li style="margin-left: 20px;">Cintāmaṇi Bhaṭṭa's Śukasaptati “Textus Ornatior” (Schmidt 1899) sourced from Ambuda (digitized by S. Mahesh)</li>
                <li style="margin-left: 20px;">Śukasaptati “Textus Simplicior” (Schmidt 1893) submitted by V. Gostishchev</li>
                <li style="margin-left: 20px;">Kumārila's Ślokavārtika (Dvarikadasa Shstri 1978) digitized by H. Krasser</li>
            </ul>

<!--            <h2 id="more-completed-changes">More Completed Changes</h2>-->
<!--            <ul>-->
<!--                <li>blah</li>-->
<!--            </ul>-->

        </div>
    </div>
</div>
</body>
</html>
