<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head_shared.html' %}
    <title>HANSEL - Team</title>
</head>
<body>
<div id="content">
    {% include 'components/sidenav_small.html' %}

    <div class="main">

        <div id="about">
            <h1>Technical Team</h1>

            <p>
                Hi! It's currently just me who runs HANSEL.
            </p>

            <div class="team_member_block">
                <h2>Tyler Neill</h2>
                <img src="/static/web/team_photos/tyler.jpg" class="sidebar-logo" alt="Tyler Neill">
                <p>
                    I am an independent scholar and programmer living in Brooklyn, NY.
                    Website & blog @ <a href="https://www.tylerneill.info">tylerneill.info</a>.
                </p>
            </div>

<!--            <div class="team_member_block">-->
<!--                <h2>Joe Schmoe</h2>-->
<!--                <img src="/static/web/team_photos/joe_schmoe.jpg" class="sidebar-logo" alt="Joe Schmoe">-->
<!--                <p>Joe can't find a good photo.</p>-->
<!--            </div>-->
        </div>

    </div>
</div>
</body>
</html>
