<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'subtemplates/head_shared.html' %}
    <title>HANSEL - Plain-text Markup Scheme</title>
</head>
<body>
<div id="content">
    {% include 'subtemplates/sidenav_small.html' %}

    <div class="main">

        <div id="about">
            <h1>Plain-text Markup Scheme</h1>
            <p>
                HANSEL uses a custom plain-text sceheme as its working format, developed in the Pramāṇa NLP project.
                It has two vertically separated parts:
                a Head above a long line of asterisks (*********) and a Body below
                (<code>&lt;head&gt;</code> and <code>&lt;body&gt;</code> elements in XML, respectively).
            </p>

            <h2>Body</h2>
            <p>
                The Body, containing the actual Sanskrit text, consists of three main types of elements:
            </p>
            <ol>
                <li>
                    <strong>Structural markers</strong>, of two types:
                    <ul>
                        <li>- [milestone identifiers in square brackets], corresponding to paragraphs and verses (<code>n</code> attribute of <code>&lt;p&gt;</code> and <code>&lt;lg&gt;</code> elements in XML, respectively)</li>
                        <li>- {super-milestone identifiers in curley brackets}, corresponding to logical sections (<code>n</code> attribute of <code>&lt;div&gt;</code> elements in XML)</li>
                    </ul>
                </li>
                <li>
                    <strong>Note markers</strong>, of two types:
                    <ul>
                        <li>- &lt;tertiary structural markers in angle brackets&gt; (<code>&lt;head&gt;</code> and <code>&lt;trailer&gt;</code> elements in XML</li>
                        <li>- (philological notes in round brackets i.e. parentheses) (<code>&lt;note&gt;</code> element in XML)</li>
                    </ul>
                </li>
                <li>
                    <strong>Editorial additions and deletions</strong>
                    <ul>
                        <li>- (deletions in round brackets i.e. parentheses) — note that these are not distinguished from philological notes</li>
                        <li>- «Insertions in double-chevrons»</li>
                    </ul>
                </li>
            </ol>
            <p>
                If all such elements are removed, what is left should be contiguous, valid Sanskrit natural-language text.
            </p>

            <h2>Head</h2>

            <p>The Head contains metadata with the following format:</p>
            <ul>
                <li>- Triple-newline (<code>\n\n\n</code>) between fields</li>
                <li>- Between these separators, fields beginning with the field name and a colon (e.g. “Title:”)</li>
                <li>- Allowed fields include: <code>Title</code>, <code>Author</code>, <code>Source</code>, <code>Extent</code>, ...</li>
            </ul>
            <p>
                These fields are parsed, validated, and mapped
                to corresponding elements in the XML <code>&lt;head&gt;</code> element for publication.
            </p>

        </div>

    </div>
</div>
</body>
</html>
