    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='web/imgs/logo.png') }}">
    <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='web/css/sidenav.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='web/js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='web/js/caret_toggle.js') }}" defer></script>