        <div id="cumulative-data">
            <h1>Cumulative Downloads</h1>
            <ul>
                <li class="file-item">
                    <div class="link-and-caret">
                        <a href="{{ static_files_path }}/data/texts/transforms/cumulative/txt.zip">
                            All plaintext (<code>.zip</code> of <code>.txt</code>)
                            <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                        </a>
                        <details class="caret-details">
                            <summary class="toggle-caret"></summary>
                        </details>
                    </div>
                    <ul class="extra-links">
                        <li>
                            <a href="{{ static_files_path }}/data/texts/transforms/cumulative/originals.zip" target="_blank">
                                All originals (<code>.zip</code>&nbsp;of miscellaneous filetypes)
                                <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="{{ static_files_path }}/data/texts/transforms/cumulative/xml.zip" target="_blank">
                                All XML (<code>.zip</code>&nbsp;of&nbsp;<code>.xml</code>)
                                <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                            </a>
                        </li>
                        -->
                        <li>
                            <a href="{{ static_files_path }}/data/texts/transforms/cumulative/html_plain.zip" target="_blank">
                                All HTML, plain (<code>.zip</code>&nbsp;of&nbsp;<code>.html</code>)
                                <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                            </a>
                        </li>
                        <li>
                            <a href="{{ static_files_path }}/data/texts/transforms/cumulative/html_rich.zip" target="_blank">
                                All HTML, rich (<code>.zip</code>&nbsp;of&nbsp;<code>.html</code>)
                                <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="file-item">
                    <div class="link-and-caret">
                        <a href="{{ static_files_path }}/data/metadata/transforms/cumulative/metadata_md.zip">
                            All metadata (<code>.zip</code>&nbsp;of&nbsp;<code>.md</code>)
                            <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                        </a>
                        <details class="caret-details">
                            <summary class="toggle-caret"></summary>
                        </details>
                    </div>
                    <ul class="extra-links">
                        <li>
                            <a href="{{ static_files_path }}/data/metadata/transforms/cumulative/metadata_html.zip" target="_blank">
                                (<code>.zip</code>&nbsp;of&nbsp;<code>.html</code>)
                                <img src="{{ static_files_path }}/web/imgs/dl.png" alt="download" title="download" style="height: 25px; margin-bottom: -5px;">
                            </a>
                        </li>
                        <li>
                            <a href="{{ static_files_path }}/data/metadata/transforms/cumulative/metadata.json" target="_blank">
                                (single&nbsp;<code>.json</code>)
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

        <div id="more-info">
            <h1>More Info</h1>

            <p><a href="about" class="main-link">About Page</a><p>

            <h2 id="contributing">Contact</h2>
            <p>
                Email <code>hanselrepository</code> at Gmail with any questions, suggestions, or contributions
                (<code>.doc</code>, <code>.txt</code>, <code>.xml</code>, <code>.html</code>, <code>.pdf</code>, etc.)
            </p>

            <h2 id="technical">Technical</h2>
            <p><strong>Web app version</strong>: v{{ app_version }}</p>
            <p><strong>Data version</strong>: {{ data_version }}</p>
            <p>
                <strong>License</strong>: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0</a>.
                Please share and share alike!
            </p>
        </div>