{% macro sidenav(links) %}
<div class="sidenav">
      <div class="brand">
        <a class="brand-logo" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='web/imgs/logo.png') }}" class="sidenav-logo" alt="Swan Logo">
        </a>
        <div class="brand-text">
          <h1 class="sidenav-title">HANSEL</h1>
          <p class="sidenav-subtitle">Human-Accessible<br>NLP-ready<br>Sanskrit E-Text Library</p>
        </div>
      </div>

      <nav class="nav-links {% if links|length == 1 %}single-link{% endif %}">
        {% for link in links %}
        <a href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
      </nav>

      {% if links|length > 1 %}
      <button id="menu-btn" class="menu-btn"><span></span><span></span><span></span></button>
      {% endif %}
    </div>
{% endmacro %}
